body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* NAVBAR SECTION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #ccc;
}

.logo {
  font-family: "Cursive", sans-serif;
  margin-left: 30px;
}

.menu-items {
  display: flex;
}

.menu-item {
  padding: 8px;
  border: 1px solid black;
  color: #000;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}

.menu-item:first-child {
  border-right: none;
}
.menu-item:nth-child(2) {
  border-right: none;
}

/* BODY HALAMAN SECTION */
.home {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 50px;
}

h3 {
  font-size: 20px;
  color: #555;
}

/* CONTAINER SECTION */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.left {
  margin-left: 50px;
  width: 55%; /* Atur lebar elemen kiri */
}
.right {
  background-color: #edf0f4;
  margin-right: 50px;
  margin-left: 50px;
  padding: 20px;
  width: 35%; /* Atur lebar elemen kanan */
}

/* SLIDE SHOW */
.slideshow-container {
  max-width: 100opx;
  position: relative;
  margin: auto;
  padding: 20px;
  background-color: #edf0f4;
}

.kgambar {
  width: 100%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 30px 12px;
  position: absolute;
  top: 0;
}

.profile {
  margin-top: 5px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #e0e0e0;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  margin: 0;
}

.details {
  font-style: italic;
  color: #777;
  margin: 0;
}

.text {
  margin: 0;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* FORM CONTACT US */

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #29323d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a9a9a9;
}

/* OUR PACKAGE SECTION */
.our {
  padding: 50px;
  background-color: #edf0f4;
  text-align: center;
}

/* KOTA SECTION */
.kota {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 60px 20px 60px;
}

.destination {
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
}

.destination h2 {
  margin-top: 0;
}

.destination p {
  margin: 10px 0 0;
}

/* CLOSING SECTION */
.closing {
  padding: 30px;
  margin-top: 10px;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

button.bot {
  padding: 20px 50px 20px 50px;
}

/* FOOTER SECTION */
.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  bottom: 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
.footer a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}
.footer a:hover {
  text-decoration: underline;
}
